#chatWindow {
    font-family: 'Helvetica Neue', sans-serif;
    text-align: left;
    position: fixed;
    bottom: 50px;
    width: 300px;
    max-height: 350px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    row-gap: 10px;
    display: none;  /* Hidden by default */
    flex-direction: column;
    z-index: 1000;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.08);
}

/* Header for the chat window */
#chatWindowHeader {
    font-family: 'Super Funky';
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #DBA841;
}

/* Style for the messages container */
#messages {
    list-style-type: none;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 10px;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

#sendMessages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
}

/* Style for each message item */
.message-item {
    margin-bottom: 10px;
}

/* Remove margin for the last message item */
.message-item:last-child {
    margin-bottom: 0;
}

.message-timestamp {
    font-size: 10px;
    color: #777;
    text-align: center;
}

/* Style for the name */
.message-username {
    font-size: 10px;
    color: #aaa;
}

/* Style for the message text */
.message-text {
    font-size: 16px;
    font-weight: normal;
    color: whitesmoke;
}

/* Close button styling */
.close-btn {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    width: 26px;
    height: 26px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: transparent;;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.bounce {
    animation: bounce 0.5s infinite;
}

#usernameInput {
    border-radius: 10px;
    padding: 8px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    text-align: center;
    font-size: 11pt;
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
}

#usernameInput:focus {
    outline: 1px solid purple;
}

#messageInput {
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    border-radius: 10px;
    padding: 8px;
    flex: 1;
    border: none;
}

#messageInput:focus {
    outline: 1px solid purple;
}

#sendButton {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 72px;
    color: white;
    background-color: #007291;
}

#sendButton:hover {
    background-color: #0081a4;
}

#sendButton:active {
    background-color: #006885;
}

.chat-toggle {
    position: relative;
    height: 32px;
}

.chat-bubble, .chat-bubble-notification {
    width: 32px;
    height: 32px;
    background-size: cover;
    position: absolute;
    background-image: url('../images/chat_empty.png');
}

/* .chat-bubble {
    background-image: url('images/chat_empty.png');
} */

.chat-bubble-notification {
    background-image: url('../images/chat_notification.png');
    display: none;
}

@font-face {
    font-family: 'Super Funky';
    src: url('../fonts/SuperFunky.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);  /* Start and end at the original position */
    }
    40% {
      transform: translateY(-30px);  /* Move up by 30px */
    }
    60% {
      transform: translateY(-15px);  /* Smaller bounce */
    }
}
  

@supports not (backdrop-filter: blur(10px)) {
    #chatWindow {
        background: rgba(30, 20, 20, 0.96);
    }
}

/* Mobile styles for screens smaller than 768px (typical mobile) */
@media screen and (max-width: 600px), (max-height: 600px) {
    #chatWindow {
        bottom: 0;
        right: 0;
        left: 0;
        width: auto;
        max-height: 70%;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.05);
    }

    #close-btn {
        top: 5px;
        right: 5px;
    }

    #usernameInput, #messageInput, #sendButton {
        font-size: 16px;
    }

    .chat-toggle {
        height: 22px;
    }

    #chat-bubble {
        width: 26px;
        height: 26px;
    }
}
